Source: libcariad-image-binaryvector
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libcariad-image-binaryvector
Replaces: libdisplaycore-image-binaryvector
Section: main
Architecture: all
XBSC-Group: Cariad
XBSC-Subgroup: Image
Depends: libcariad-core
Provides: BinaryVector.h
Description: BinaryVector
 Create vector images using the Cariad primitives



